<script src="javascripts/jquery.js"> </script>
<script src="javascripts/bootstrap.js"></script>
<script src="javascripts/app.js"></script>




<!-- Footer -->
<!-- <footer class="page-footer font-small blue fixed-bottom bg-light"> -->
<footer class="page-footer font-small blue bg-light">

  <!-- Copyright -->
  <div class="container">
    <div class="row">
      <div class="footer-copyright py-3">© 2023 Copyright: All Rights Reserved.
      </div>
    </div>

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->