<!-- Header starts -->

<header class="header-block">
  <div class="container">

    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="/"><img style="max-height:50px" src="images/logo.png" /></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dropdown">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="dropdown">
        <div class="navbar-nav ml-auto nav">
          <a class="nav-item nav-link" href="/">Home</a>
          <a class="nav-item nav-link" href="/about">About</a>
          <a class="nav-item nav-link" href="/projects">Projects</a>
          <a class="nav-item nav-link" href="/services">Services</a>
          <a class="nav-item nav-link" href="/contact"> Contact</a>
        </div>
      </div>
    </nav>

  </div>
</header>


<!-- Header closed -->