<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include partials/headlinks %>
</head>

<body>

  <!-- Partial header included below -->
  <%- include partials/header %>

    <section style="background-color: #e9ecefb3;">



      <div class="fullheight">
        <div class="container">

          <div class="row">

            <div class="col-12" style="padding-top: 50px;">
              <h1 class="about-title">About Me</h1>
            </div>

            <div class="col-9">

              <div class="about-description">


                <p>I am a mobile gaming developer pursuing a diploma in Game Programming at <b>CENTENNIAL COLLEGE
                    (PROGRESS CAMPUS)</b>. </p>

                <p>As a gaming developer, I have a passion for creating engaging and entertaining experiences for
                  players. My expertise lies in designing and developing games across various platforms, including PC,
                  consoles, and mobile devices.</p>

                <p>I have a strong background in programming and have experience working with various game engines and
                  programming languages, such as Unity, Unreal Engine, and C#. I am familiar with the entire game
                  development pipeline, from concept to launch, and am skilled in designing game mechanics, creating
                  assets, implementing user interfaces, and debugging code.</p>

                <p>I am a creative problem-solver and always seek to push the boundaries of what is possible in game
                  development. I have a keen eye for detail and am committed to delivering high-quality, polished games
                  that provide players with a memorable experience.</p>

                <p>In addition to my technical skills, I am a strong communicator and team player. I understand the
                  importance of collaboration in game development and enjoy working with artists, designers, and other
                  developers to bring my vision to life.</p>

                <p>Overall, I am a driven and dedicated gaming developer who is always eager to take on new challenges
                  and create exciting, innovative games that captivate players.</p>

                <p>
                  <a class="resume" href="documents/resume.pdf">Review my resume</a>
                </p>

              </div>

            </div>


            <div class="col-3 my-photo">

              <img class="img-fluid" src="images/myself.jpg" />


            </div>


            <div class="col-12">



              <img style="max-width:70%" src="images/signature.png">

            </div>




          </div>

        </div>
      </div>


    </section>


    <!-- Partial Footer included below -->

    <%- include partials/footer %>




</body>

</html>