<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include partials/headlinks %>
</head>

<body>




  <!-- Partial header included below -->
  <%- include partials/header %>





    <section class="home-title-block">



      <div class="overlay-box">

        <div class="container">


          <p style="font-size: 22px;color: #fff;">Hi, my name is</p>
          <p style="font-size: 35px; color: #fff;">Kumari Shelja</p>
          <p style="font-size: 50px;color: #fff;">I'm a Gaming developer.</p>
          <p style="font-size: 30px; color: aliceblue;">I build interactive Games that run across
            platforms & devices.</p>

          <button type="button" class="btn btn-default mt-5"><a class="home-about-link" href="/about">About
              Me</a></button>

        </div>

      </div>



    </section>



    <section>

      <div class="container">


        <div class="row">



          <div class="col-12">

            <p style="padding-top: 50px; font-size: 30px;">My Mission</p>

            <div class="mission-content">

              <p>As a gaming developer, my mission is to create immersive and captivating gaming experiences that bring
                joy and excitement to players. I am dedicated to pushing the boundaries of what is possible in game
                development and always seeking to innovate and improve upon my craft.</p>

              <p>My goal is to use my technical skills, creativity, and passion for gaming to develop games that not
                only entertain, but also inspire and challenge players. I believe that games have the power to bring
                people together, to foster a sense of community, and to provide players with a sense of accomplishment
                and satisfaction.</p>

              <p>I am committed to staying up-to-date with the latest technologies and industry trends, and to
                continuously improving my skills and knowledge as a gaming developer. I will work tirelessly to deliver
                high-quality, polished games that meet the standards of both players and industry professionals.</p>

              <p>Above all, my mission as a gaming developer is to bring joy and happiness to players through the
                creation of captivating and memorable gaming experiences.</p>

              <a class="mission-about-link" href="/about">MORE ABOUT ME -</a>

            </div>

          </div>


        </div>
      </div>


    </section>




    <!-- Partial Footer included below -->

    <%- include partials/footer %>





</body>

</html>