<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include partials/headlinks %>
</head>

<body>


  <!-- Partial header included below -->

  <%- include partials/header %>



    <section style="background-color: #e9ecefb3;">



      <div class="fullheight pb-5">
        <div class="container">

          <div class="row">

            <div class="col-12" style="padding-top: 50px;padding-bottom: 50px; padding-left: 30px;">
              <h1 class="project-heading">My Projects</h1>
            </div>

          </div>



          <div class="row bg-light mb-5">

            <div class="col-3">
              <div class="p-3">
                <img class="img-fluid" src="images/calculator.jpg" alt="Avatar">
              </div>
            </div>

            <div class="col-9">

              <div class="p-3">
                <p class="project-title">Calculator Mobile Application</p>
                <p class="project-description">As a mobile application developer in this project my role includes: </p>
                <ol>
                  <li>Understanding the requirements and specifications of the calculator application and determining
                    the most appropriate design and functionality to meet those requirements.</li>
                  <li>Designing the user interface and implementing the functionality of the calculator, including the
                    algorithms and equations needed to perform calculations.</li>
                  <li>Testing the app on various devices to ensure compatibility and user experience</li>
                  <li>Keeping up-to-date with the latest mobile app development technologies and trends</li>
                  <li>Publishing the app to the app store and maintaining its availability to users</li>
                </ol>

                <p>As outcome on calculator application is very functional, user-friendly, and reliable calculator that
                  meets the needs of its users. </p>
              </div>

            </div>

          </div>

          <div class="row bg-light mb-5">

            <div class="col-3">
              <div class="p-3">
                <img class="img-fluid" src="images/wallpaper.gif" alt="Avatar">
              </div>
            </div>

            <div class="col col-9">

              <div class="p-3">
                <p class="project-title">Mobile Wallpaper Website</p>
                <p class="project-description">As a web application developer in this project my role includes: </p>
                <ol>
                  <li>Designing and implementing a user-friendly interface for the website, including the layout,
                    navigation, and functionality.</li>
                  <li>Writing clean, efficient, and well-documented code using programming languages such as HTML, CSS,
                    and JavaScript.</li>
                  <li>Adding and organizing wallpapers on the website, making sure they are optimized for mobile devices
                    and have the appropriate resolutions.</li>
                  <li>Debugging and fixing bugs and issues in the website to ensure optimal performance.</li>
                  <li>Implementing features such as search functionality, categories, and user account management.</li>
                </ol>
                <p>Overall outcome on a mobile wallpaper website, we give users a seamless experience for finding and
                  downloading mobile wallpapers.</p>
              </div>

            </div>

          </div>

          <div class="row bg-light">

            <div class="col-3">
              <div class="p-3">
                <img class="img-fluid" src="images/food-delivery.jpg" alt="Avatar">
              </div>
            </div>


            <div class="col-9">


              <div class="p-3">
                <p class="project-title">Food Delivery Website</p>
                <p class="project-description">As a web application developer in this project my role includes: </p>
                <ol>
                  <li>Implementing features such as menu management, ordering and payment processing, order tracking,
                    and customer account management.</li>
                  <li>Integrating the website with other systems such as the restaurant's menu database, delivery
                    services, and payment gateways.</li>
                  <li>Debugging and fixing bugs and issues in the website to ensure optimal performance.</li>
                  <li>Collaborating with designers, project managers, and other developers to bring the website to life.
                  </li>
                  <li>Ensuring the website is mobile-responsive, so that it is easily accessible and user-friendly on
                    various devices.</li>
                </ol>
                <p>The outcome of the project is our team able to provide users a seamless experience for ordering food
                  online.</p>
              </div>

            </div>




          </div>








        </div>
      </div>

    </section>




    <!-- Partial Footer included below -->

    <%- include partials/footer %>



</body>

</html>