<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <%- include partials/headlinks %>
</head>

<body>



  <!-- Partial header included below -->

  <%- include partials/header %>



    <section style="background-color: #e9ecefb3;">

      <div class="fullheight pb-5">

        <div class="container">

          <div class="row">

            <div class="col-12" style="padding-top: 50px;padding-bottom: 50px; padding-left: 30px;">
              <h1 class="services-heading">Services</h1>
            </div>


          </div>

          <div class="row" style="margin-top: 50px;">

            <div class="col-6 p-3">
              <div class="service-block">
                <img src="images/gaming.png" alt="gaming development">
                <p class="service-title">Gaming Development</p>
                <p class="service-desc">Gaming development is the process of creating and designing video games for
                  various platforms, including consoles, computers, and mobile devices. Our gaming development service
                  offers clients professional and custom gaming solutions that are designed to meet their unique needs
                  and requirements. Our team of experienced game developers works closely with clients to understand
                  their vision and goals, and uses the latest technologies and programming languages to create
                  high-quality, engaging, and fun video games.</p>
                <p></p>
              </div>
            </div>


            <div class="col-6 p-3">
              <div class="service-block">
                <img src="images/graphic.png" alt="graphic design">
                <p class="service-title">Graphic Design</p>
                <p class="service-desc">Graphic design is a critical component in the creation of effective and
                  impactful marketing materials and visual communications. Our graphic design service offers clients a
                  wide range of professional design solutions, including logo design, branding, print materials, digital
                  graphics, and more. Our team of experienced designers works closely with clients to understand their
                  specific needs and goals, and delivers high-quality, visually appealing designs that help to
                  communicate their brand effectively.</p>
                <p></p>
              </div>
            </div>
            <div class="col-6 p-3">
              <div class="service-block">
                <img src="images/website.png" alt="web application">
                <p class="service-title">Web Application</p>
                <p class="service-desc">Web applications are online software programs that run on the internet and can
                  be accessed from anywhere with an internet connection. Our web application service provides clients
                  with custom, high-performance, and scalable web applications that meet their unique business needs and
                  requirements. Our team of experienced developers uses the latest technologies and programming
                  languages to build robust, user-friendly, and reliable web applications that help clients streamline
                  their business processes, improve efficiency, and enhance their online presence.</p>
              </div>
            </div>
            <div class="col-6 p-3">
              <div class="service-block">
                <img src="images/mobile.png" alt="mobile application">
                <p class="service-title">Mobile Application</p>
                <p class="service-desc">Mobile applications are software programs designed to run on mobile devices,
                  such as smartphones and tablets. Our mobile application service offers clients custom, high-quality
                  mobile applications that are designed to meet their specific needs and requirements. Our team of
                  experienced developers uses the latest technologies and programming languages to build robust,
                  user-friendly, and reliable mobile applications that help clients improve their mobile presence,
                  engage with their customers, and streamline their business processes.</p>
              </div>
            </div>


          </div>




        </div>
      </div>

    </section>


    <!-- Partial Footer included below -->
    <%- include partials/footer %>



</body>

</html>